cargo-features = ["strip"]

[package]
authors = ["LongYinan <lynweklm@gmail.com>"]
edition = "2018"
name = "canvas"
version = "0.1.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
anyhow = "1"
base64 = "0.13"
cssparser = "0.29"
napi = {version = "1", features = ["serde-json"]}
napi-derive = "1"
nom = "7"
once_cell = "1"
regex = "1"
serde = "1"
serde_derive = "1"
serde_json = "1"
thiserror = "1"

[target.'cfg(all(target_arch = "x86_64", not(target_env = "musl")))'.dependencies]
mimalloc-rust = "0.1"

[build-dependencies]
cc = "1"
napi-build = "1"

[profile.release]
codegen-units = 1
lto = true
panic = "unwind"
strip = 'symbols'
