cargo-features = ["strip"]

[package]
authors = ["LongYinan <lynweklm@gmail.com>"]
edition = "2018"
name = "canvas"
version = "0.1.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0"
base64 = "0.13"
cssparser = "0.28"
napi = "1"
napi-derive = "1"
once_cell = "1.8"
regex = "1.5"
thiserror = "1.0"

[target.'cfg(all(target_arch = "x86_64", not(target_env = "musl")))'.dependencies]
mimalloc = {version = "0.1"}

[build-dependencies]
cc = "1"
napi-build = "1"

[profile.release]
lto = true
strip = 'symbols'
