name: Cargo test

env:
  DEBUG: 'napi:*'
  APP_NAME: 'skia'

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: stable - macOS - cargo - test
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-apple-darwin
          toolchain: nightly-2023-08-09

      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: macOS-latest-test-cargo-cache

      - name: Install dependencies
        run: yarn install --immutable --mode=skip-build

      - name: Install nasm
        run: brew install nasm

      - name: Download skia binary
        run: node ./scripts/release-skia-binary.js --download

      - name: Test
        run: cargo test -- --nocapture
